.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.Gastado {
  display: flex;
  flex-direction: column; /* Mantén la dirección en columna */
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  padding-left: 20px; /* Opcional: Añade un pequeño margen a la izquierda */
}

.titulo {
  font-family: 'Poppins', sans-serif; /* Cambia la fuente */
  font-size: 44px; /* Cambia el tamaño de la fuente */
  font-weight: 600; /* Ajusta el peso si deseas negrita */
  color: #333333; /* Cambia el color si es necesario */
  margin-bottom: 10px; /* Añade espacio entre elementos */
}

.monto {
  font-family: 'Poppins', sans-serif;
  font-size: 20px; /* Un tamaño ligeramente menor que el título */
  font-weight: 500;
  color: #1F384C; /* Un color diferente si quieres variar */
  margin-bottom: 5px;
}

.fecha {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Un tamaño más pequeño para la fecha */
  font-weight: 400;
  color: #888888; /* Color gris para la fecha */
}


.div-wrapper .overlap-wrapper {
  background-color: #ffffff;
  height: 960px;
  width: 1440px;
}

.div-wrapper .overlap {
  height: 953px;
  position: relative;
}

.div-wrapper .overlap-group {
  height: 724px;
  left: 280px;
  position: absolute;
  top: 167px;
  width: 1120px;
}

.div-wrapper .separator {
  height: 724px;
  left: 718px;
  position: absolute;
  top: 0;
  width: 1px;
}

.div-wrapper .img {
  height: 362px;
  left: 359px;
  position: absolute;
  top: 362px;
  width: 1px;
}
/* separador de la mitad*/
.div-wrapper .separator-2 { 
  height: 1px;
  left: 0;
  position: absolute;
  top: 362px;
  width: 1120px;
}

.div-wrapper .overlap-group-2 {
  background-image: url(../../../static/img/rectangle-25.svg);
  background-size: 100% 100%;
  height: 35px;
  left: -1px;
  position: relative;
}

.div-wrapper .text-wrapper-7 {
  color: #5969cf;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 17px;
  letter-spacing: 0.5px;
  line-height: 20px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.div-wrapper .title-data {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.5px;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-8 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.5px;
  line-height: 28px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.div-wrapper .p {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 450;
  letter-spacing: 0.5px;
  line-height: 21px;
  opacity: 0.5;
  position: absolute;
  top: 104px;
  white-space: nowrap;
}

.div-wrapper .ellipse-2 {
  background-color: #d8d9da;
  border-radius: 4.5px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 9px;
}

.div-wrapper .most-ordered {
  height: 310px;
  left: 678px;
  position: absolute;
  top: 569px;
  width: 316px;
}
.div-wrapper .most-ordered1 {
  height: 310px;
  left: 1050px;
  position: absolute;
  top: 569px;
  width: 316px;
}

.div-wrapper .desc {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.5px;
  line-height: 22px;
  opacity: 0.5;
  position: absolute;
  top: 30px;
  width: 312px;
}

.div-wrapper .group-4 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 284px;
}

.div-wrapper .line-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 280px;
}

.div-wrapper .group-5 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 288px;
}

.div-wrapper .group-6 {
  background-color: #c4c4c4;
  background-image: url(../../../static/img/group-245.png);
  background-size: 100% 100%;
  border-radius: 14px;
  box-shadow: 0px 10px 20px #40485259;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.div-wrapper .text {
  color: #273240;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0.5px;
  line-height: 20px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.div-wrapper .text-2 {
  color: #273240;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 213px;
  letter-spacing: 0.5px;
  line-height: 20px;
  opacity: 0.7;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.div-wrapper .group-7 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 162px;
  width: 296px;
}

.div-wrapper .group-8 {
  background-color: #c4c4c4;
  background-image: url(../../../static/img/group-23.png);
  background-size: 100% 100%;
  border-radius: 14px;
  box-shadow: 0px 10px 20px #40485259;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.div-wrapper .group-9 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 287px;
}

.div-wrapper .group-10 {
  background-color: #c4c4c4;
  background-image: url(../../../static/img/group-23-1.png);
  background-size: 100% 100%;
  border-radius: 14px;
  box-shadow: 0px 10px 20px #40485259;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.div-wrapper .group-11 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 282px;
  width: 288px;
}

.div-wrapper .group-12 {
  background-color: #c4c4c4;
  background-image: url(../../../static/img/group-23-2.png);
  background-size: 100% 100%;
  border-radius: 14px;
  box-shadow: 0px 10px 20px #40485259;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.div-wrapper .rating {
  height: 321px;
  left: 280px;
  position: absolute;
  top: 569px;
  width: 317px;
}

.div-wrapper .overlap-2 {
  height: 241px;
  left: 9px;
  position: absolute;
  top: 80px;
  width: 308px;
}

.div-wrapper .chart {
  height: 179px;
  left: 130px;
  position: absolute;
  top: 20px;
  width: 178px;
}

.div-wrapper .overlap-group-3 {
  height: 181px;
  position: relative;
  top: -1px;
  width: 175px;
}

.div-wrapper .ellipse-3 {
  background-color: #f89c2f;
  border-radius: 84.36px;
  height: 169px;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 6px;
  width: 169px;
}

.div-wrapper .text-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 33.7px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 0.53px;
  line-height: 33.7px;
  position: absolute;
  top: 63px;
  white-space: nowrap;
  width: 70px;
}

.div-wrapper .text-4 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12.7px;
  font-weight: 400;
  left: 47px;
  letter-spacing: 0.53px;
  line-height: 12.7px;
  position: absolute;
  top: 105px;
  white-space: nowrap;
  width: 74px;
}

.div-wrapper .ellipse-4 {
  height: 181px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 170px;
}

.div-wrapper .overlap-group-wrapper {
  height: 110px;
  left: 49px;
  position: absolute;
  top: 0;
  width: 111px;
}

.div-wrapper .overlap-3 {
  height: 112px;
  position: relative;
  top: -1px;
  width: 108px;
}

.div-wrapper .ellipse-5 {
  background-color: #6463d6;
  border-radius: 51.88px;
  height: 104px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 4px;
  width: 104px;
}

.div-wrapper .text-5 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0.32px;
  line-height: 20.8px;
  position: absolute;
  top: 38px;
  white-space: nowrap;
  width: 43px;
}

.div-wrapper .text-6 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0.32px;
  line-height: 7.8px;
  position: absolute;
  top: 67px;
  white-space: nowrap;
}

.div-wrapper .ellipse-6 {
  height: 112px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 105px;
}

.div-wrapper .chart-2 {
  height: 130px;
  left: 0;
  position: absolute;
  top: 111px;
  width: 130px;
}

.div-wrapper .overlap-4 {
  height: 132px;
  position: relative;
  top: -1px;
  width: 127px;
}

.div-wrapper .ellipse-7 {
  background-color: #2fbede;
  border-radius: 61.18px;
  height: 122px;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 5px;
  width: 122px;
}

.div-wrapper .text-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0.38px;
  line-height: 24px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.div-wrapper .text-8 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0.38px;
  line-height: 12px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.div-wrapper .revenue {
  height: 322px;
  left: 280px;
  position: absolute;
  top: 167px;
  width: 684px;
}

.div-wrapper .button-2 {
  all: unset;
  box-sizing: border-box;
  height: 32px;
  left: 569px;
  position: absolute;
  top: 0;
  width: 111px;
}

.div-wrapper .view-report-wrapper {
  background-image: url(../../../static/img/rectangle-25-2.svg);
  background-size: 100% 100%;
  height: 35px;
  left: 500px;
  position: relative;
}

.div-wrapper .title-page {
  color: #1f384c;
  font-family: "Poppins", Helvetica;
  font-size: 24px; /* Aumenté el tamaño de la fuente */
  font-weight: 500;
  left: 55%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición para centrar */
  letter-spacing: 0.5px;
  line-height: 30px; /* Aumenté el line-height para acomodar el nuevo tamaño */
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.div-wrapper .account-info {
  height: 32px;
  left: 1183px;
  position: absolute;
  top: 16px;
  width: 222px;
}

.div-wrapper .emoticon-wrapper {
  background-color: #ffe6cc;
  border-radius: 16px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.div-wrapper .emoticon {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0.5px;
  line-height: 13px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.div-wrapper .merchant-name {
  color: #1f384c;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0.5px;
  line-height: 13px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.div-wrapper .arrow-chevron-down {
  height: 20px !important;
  left: 152px !important;
  position: absolute !important;
  top: 8px !important;
  width: 20px !important;
}

.div-wrapper .overlap-8 {
  height: 18px;
  left: 204px;
  position: absolute;
  top: 6px;
  width: 15px;
}

.div-wrapper .notif-icon {
  height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 13px;
}

.div-wrapper .overlap-10 {
  height: 953px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .sidebar {
  background-color: #f1f2f7;
  height: 960px;
  left: -40px;
  position: absolute;
  top: 0;
  width: 240px;
}

.div-wrapper .menu {
  height: 352px;
  left: 17px;
  position: absolute;
  top: 104px;
  width: 204px;
}

.div-wrapper .dashboard-wrapper {
  background-image: url(../../../static/img/active-background.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 200px;
}

.div-wrapper .dashboard {
  height: 18px;
  left: 20px;
  position: relative;
  top: 12px;
  width: 68px;
}

.div-wrapper .dashboard-2 {
  color: #5969cf;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 30px;
  letter-spacing: 0.5px;
  line-height: 12px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.div-wrapper .img-2 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.div-wrapper .help {
  height: 18px;
  left: 19px;
  opacity: 0.6;
  position: absolute;
  top: 334px;
  width: 78px;
}

.div-wrapper .help-2 {
  color: #273240;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0.5px;
  line-height: 12px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.div-wrapper .accounts {
  height: 18px;
  left: 17px;
  opacity: 0.6;
  position: absolute;
  top: 294px;
  width: 80px;
}

.div-wrapper .text-wrapper-22 {
  color: #273240;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0.5px;
  line-height: 12px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.div-wrapper .settings {
  height: 18px;
  left: 20px;
  opacity: 0.6;
  position: absolute;
  top: 254px;
  width: 139px;
}

.div-wrapper .text-wrapper-23 {
  color: #082431;
  font-family: "Poppins", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 1px;
  line-height: 11px;
  opacity: 0.5;
  position: absolute;
  top: 219px;
  white-space: nowrap;
}

.div-wrapper .review {
  height: 18px;
  left: 20px;
  opacity: 0.6;
  position: absolute;
  top: 159px;
  width: 115px;
}

.div-wrapper .customer-review {
  color: #273240;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0.5px;
  line-height: 12px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.div-wrapper .manage {
  height: 18px;
  left: 20px;
  opacity: 0.6;
  position: absolute;
  top: 119px;
  width: 73px;
}

.div-wrapper .order {
  height: 18px;
  left: 20px;
  opacity: 0.6;
  position: absolute;
  top: 77px;
  width: 114px;
}

.div-wrapper .text-wrapper-24 {
  color: #082431;
  font-family: "Poppins", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 1px;
  line-height: 11px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .logo {
  height: 24px;
  left: 37px;
  position: absolute;
  top: 20px;
  width: 101px;
}

.div-wrapper .logo-2 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.div-wrapper .c-wrapper {
  background-color: #5a67ba;
  border-radius: 13px;
  height: 26px;
  left: -1px;
  position: relative;
  top: -1px;
}

.div-wrapper .c {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 11px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.div-wrapper .name {
  color: #5a67ba;
  font-family: "Poppins", Helvetica;
  font-size: 11px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0.5px;
  line-height: 11px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.div-wrapper .separator-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 1440px;
}
