:root {
  --blue-100: rgba(219, 234, 254, 1);
  --blue-600: rgba(37, 99, 235, 1);
  --blue-800: rgba(30, 64, 175, 1);
  --blue-gray100: rgba(241, 245, 249, 1);
  --blue-gray200: rgba(226, 232, 240, 1);
  --blue-gray300: rgba(203, 213, 225, 1);
  --blue-gray400: rgba(148, 163, 184, 1);
  --blue-gray600: rgba(71, 85, 105, 1);
  --blue-gray700: rgba(51, 65, 85, 1);
  --blue-gray900: rgba(15, 23, 42, 1);
  --body-l-font-family: "Roboto", Helvetica;
  --body-l-font-size: 18px;
  --body-l-font-style: normal;
  --body-l-font-weight: 400;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 160.0000023841858%;
  --body-m-font-family: "Roboto", Helvetica;
  --body-m-font-size: 16px;
  --body-m-font-style: normal;
  --body-m-font-weight: 400;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 139.9999976158142%;
  --body-s-font-family: "Roboto", Helvetica;
  --body-s-font-size: 14px;
  --body-s-font-style: normal;
  --body-s-font-weight: 400;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 139.9999976158142%;
  --body-XS-font-family: "Roboto", Helvetica;
  --body-XS-font-size: 12px;
  --body-XS-font-style: normal;
  --body-XS-font-weight: 400;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 139.9999976158142%;
  --body-XXL-font-family: "Roboto", Helvetica;
  --body-XXL-font-size: 24px;
  --body-XXL-font-style: normal;
  --body-XXL-font-weight: 400;
  --body-XXL-letter-spacing: 0px;
  --body-XXL-line-height: 160.0000023841858%;
  --button-l-font-family: "Roboto", Helvetica;
  --button-l-font-size: 20px;
  --button-l-font-style: normal;
  --button-l-font-weight: 500;
  --button-l-letter-spacing: 0.5px;
  --button-l-line-height: 24px;
  --button-m-font-family: "Roboto", Helvetica;
  --button-m-font-size: 16px;
  --button-m-font-style: normal;
  --button-m-font-weight: 500;
  --button-m-letter-spacing: 0.5px;
  --button-m-line-height: 24px;
  --button-s-font-family: "Roboto", Helvetica;
  --button-s-font-size: 14px;
  --button-s-font-style: normal;
  --button-s-font-weight: 500;
  --button-s-letter-spacing: 0.5px;
  --button-s-line-height: 24px;
  --button-XL-font-family: "Roboto", Helvetica;
  --button-XL-font-size: 24px;
  --button-XL-font-style: normal;
  --button-XL-font-weight: 700;
  --button-XL-letter-spacing: 0.5px;
  --button-XL-line-height: 24px;
  --caption-m-font-family: "Roboto", Helvetica;
  --caption-m-font-size: 20px;
  --caption-m-font-style: normal;
  --caption-m-font-weight: 700;
  --caption-m-letter-spacing: 3px;
  --caption-m-line-height: 100%;
  --coolgray-10: rgba(242, 244, 248, 1);
  --coolgray-20: rgba(221, 225, 230, 1);
  --coolgray-30: rgba(193, 199, 205, 1);
  --coolgray-60: rgba(105, 112, 119, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --green-100: rgba(220, 252, 231, 1);
  --green-800: rgba(22, 101, 52, 1);
  --heading-1-m-font-family: "Roboto", Helvetica;
  --heading-1-m-font-size: 72px;
  --heading-1-m-font-style: normal;
  --heading-1-m-font-weight: 800;
  --heading-1-m-letter-spacing: 0px;
  --heading-1-m-line-height: 110.00000238418579%;
  --heading-2-font-family: "Roboto", Helvetica;
  --heading-2-font-size: 56px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 800;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 110.00000238418579%;
  --heading-3-font-family: "Roboto", Helvetica;
  --heading-3-font-size: 48px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 800;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 110.00000238418579%;
  --heading-5-font-family: "Roboto", Helvetica;
  --heading-5-font-size: 32px;
  --heading-5-font-style: normal;
  --heading-5-font-weight: 700;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 110.00000238418579%;
  --heading-6-font-family: "Roboto", Helvetica;
  --heading-6-font-size: 24px;
  --heading-6-font-style: normal;
  --heading-6-font-weight: 700;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 110.00000238418579%;
  --indigo-100: rgba(224, 231, 255, 1);
  --indigo-400: rgba(129, 140, 248, 1);
  --indigo-500: rgba(99, 102, 241, 1);
  --indigo-600: rgba(79, 70, 229, 1);
  --indigo-800: rgba(55, 48, 163, 1);
  --indigo-900: rgba(49, 46, 129, 1);
  --overlaydark-75: rgba(18, 22, 25, 0.75);
  --pink-100: rgba(252, 231, 243, 1);
  --pink-800: rgba(157, 23, 77, 1);
  --purple-100: rgba(243, 232, 255, 1);
  --purple-800: rgba(107, 33, 168, 1);
  --red-100: rgba(254, 226, 226, 1);
  --red-600: rgba(220, 38, 38, 1);
  --red-800: rgba(153, 27, 27, 1);
  --shadow-dark-s: 0px 0px 2px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-dark-XL: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  --subtitle-m-font-family: "Roboto", Helvetica;
  --subtitle-m-font-size: 16px;
  --subtitle-m-font-style: normal;
  --subtitle-m-font-weight: 500;
  --subtitle-m-letter-spacing: 0px;
  --subtitle-m-line-height: 110.00000238418579%;
  --subtitle-XL-font-family: "Roboto", Helvetica;
  --subtitle-XL-font-size: 20px;
  --subtitle-XL-font-style: normal;
  --subtitle-XL-font-weight: 500;
  --subtitle-XL-letter-spacing: 0px;
  --subtitle-XL-line-height: 110.00000238418579%;
  --warm-gray800: rgba(41, 37, 36, 1);
  --white: rgba(255, 255, 255, 1);
  --yellow-100: rgba(254, 249, 195, 1);
  --yellow-800: rgba(133, 77, 14, 1);
}
