/* Contenedor principal de la tarjeta */
.card-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px; /* Reduce el padding para ocupar menos espacio */
    text-align: center;
    width: 60%; /* Reduce el ancho para que no ocupe tanto */
    max-width: 800px; /* Reduce el ancho máximo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 30px auto; /* Aumenta el margen superior para bajar el contenedor */
}


/* Estilos para el título de Gastado */
.title-data {
    font-family: 'Poppins', sans-serif;
    font-size: 20px; /* Reduce el tamaño de la fuente */
    color: #333;
    margin-bottom: 8px; /* Reduce el margen inferior */
}

/* Estilos para la cantidad */
.amount-text {
    font-size: 36px; /* Reduce el tamaño del texto */
    font-weight: bold;
    color: #2563eb;
    margin: 8px 0 16px; /* Reduce el margen */
}

/* Estilos para el rango de fechas */
.date-range {
    font-size: 14px; /* Reduce el tamaño del texto */
    color: #6c757d;
    margin-bottom: 20px; /* Reduce el margen inferior */
}

/* Estilos del botón de reporte */
.report-button {
    background-color: #0b0d17;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Reduce el tamaño del padding */
    font-size: 16px; /* Reduce el tamaño del texto */
    cursor: pointer;
    width: 100%;
    max-width: 300px; /* Reduce el ancho máximo del botón */
}

.report-button:hover {
    background-color: #1c1f2d;
}

