/*side*/
/* Estilos para la barra lateral */
.div-wrapper .sidebar {
    background-color: #f1f2f7;
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
  }
  
  .div-wrapper .menu {
    position: absolute;
    top: 104px;
    left: 17px;
    width: 204px;
    height: auto; /* Ajustable */
  }
  
  .div-wrapper .dashboard-wrapper {

    height: 42px;
    width: 100%;
    position: absolute;
    top: 23px;
  }
  
  .div-wrapper .dashboard {
    position: relative;
    top: 12px;
    left: 20px;
    width: 68px;
    height: 18px;
  }
  
  .div-wrapper .dashboard-2 {
    color: #5969cf;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 3px;
    left: 30px;
    letter-spacing: 0.5px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  .div-wrapper .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
  }
  
  /* Estilos para elementos del menú */
  .div-wrapper .help, 
  .div-wrapper .accounts, 
  .div-wrapper .settings, 
  .div-wrapper .review, 
  .div-wrapper .manage, 
  .div-wrapper .order {
    position: absolute;
    left: 20px;
    height: 18px;
    opacity: 0.6;
  }
  
  .div-wrapper .help { top: 334px; width: 78px; }
  .div-wrapper .accounts { top: 294px; width: 80px; }
  .div-wrapper .settings { top: 254px; width: 139px; }
  .div-wrapper .review { top: 159px; width: 115px; }
  .div-wrapper .manage { top: 119px; width: 73px; }
  .div-wrapper .order { top: 77px; width: 114px; }
  
  /* Estilos para textos del menú */
  .div-wrapper .customer-review, 
  .div-wrapper .text-wrapper-22, 
  .div-wrapper .help-2, 
  .div-wrapper .text-wrapper-23, 
  .div-wrapper .text-wrapper-24 {
    color: #273240;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    white-space: nowrap;
    letter-spacing: 0.5px;
  }
  
  /* Estilos para el logo */
  .div-wrapper .logo {
    position: absolute;
    top: 20px;
    left: 37px;
    width: 101px;
    height: 24px;
  }
  
  .div-wrapper .logo-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 24px;
  }
  
  /* Estilos para el wrapper del logo */
  .div-wrapper .c-wrapper {
    background-color: #5a67ba;
    border-radius: 13px;
    position: relative;
    height: 26px;
  }
  
  .div-wrapper .c {
    color: #fff;
    font-family: "Poppins", Helvetica;
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    left: 9px;
    top: 8px;
    white-space: nowrap;
  }
  
  /* Estilos para el nombre side */ 
  .div-wrapper .name {
    color: #5a67ba;
    font-family: "Poppins", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0.5px;
    line-height: 11px;
    position: absolute;
    top: 6px;
    white-space: nowrap;
  }